
<!DOCTYPE html>
<html>
<head><script>function requestLink(){return {sessionId:['sid','t1~vlf02gvrutg4keajexhuojuw']};}var geoInfo={"cc":"BD","cnames":{"de":"Bangladesch","en":"Bangladesh","es":"Bangladesh","fr":"Bangladesh","ja":"バングラディッシュ人民共和国","pt-BR":"Bangladesh","ru":"Бангладеш","zh-CN":"孟加拉国"},"city":{"de":"Dhaka","en":"Dhaka","es":"Daca","fr":"Dacca","ja":"ダッカ","pt-BR":"Daca","ru":"Дакка","zh-CN":"达卡"},"subdiv":{"de":"","en":"Dhaka Division","es":"","fr":"Dhâkâ","ja":"","pt-BR":"","ru":"","zh-CN":""},"pc":"1000","lat":23.7257,"long":90.4026};var ip='202.84.32.118';var devInfo='Bangladesh Online';</script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="robots" content="noindex, follow">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#00529b">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" type="text/css" href="/media/mainstream/all/ab/css1.css">
<script src="/media/mainstream/all/ab/p.js"></script>
<script src="/media/mainstream/icon.js"></script>
<script src="/media/mainstream/sound.js"></script>
<script type="text/javascript" src="/media/mainstream/u.js"></script>
<script src="/media/mainstream/all/ab/2.js"></script>
<script src="/media/mainstream/all/ab/1.js"></script>
<link rel="stylesheet" type="text/css" href="/media/mainstream/flag-icon/css/flag-icon.css">
<title>Samsung Galaxy S20</title>

</head>
<body>
<div id="p_body_content">
  <canvas id="canvasConfetti" width="1440" height="667"></canvas>
  <script type="text/javascript">
        jQuery(document).ready(function () {
            setTimeout(function () {
                DeactivateConfetti();
            }, 4000);
        });
    </script>
</div>

<div id="lotopop" class="modal11" style="display: none;"></div>
<div id="id1" class="header">
  <p style="text-align: center; line-height: 45px; font-size: 25px;"><img src="/media/mainstream/all/ab/logo.png" id="main-logo">LOYALTY PROGRAM <span style="float:right;font-size: 35px;" class="userLocation squared geo-flag" data-city="0" data-cname="0" data-flag="1"></span></div></p>
</div>
<div class="content">
  <div class="main-content flag" id="content1">
    <h2 style="font-weight: bold;">Congratulations!</h2>
    <p>Today, <span class="p_var-dia">30</span>&nbsp;<span class="p_var-mes_nombre">April</span> <span class="p_var-anyo">2022</span>, you have been randomly selected to take this survey. It will only take a minute and you will receive an amazing prize: <strong>Samsung Galaxy S20</strong>!</p>
    <div class="caja_premio" style="max-width: 100%; margin: 0 auto;">
      <div class="principal_bg"><img class="img-principal principal_efect img-primary" src="/media/mainstream/all/ab/muti_s20.jpg"> <img class="img-principal principal_efect p_hidden img-secondary" src="/media/mainstream/all/ab/muti_s20.jpg"></div>
    </div>
    <p>Like every <span class="p_var-dia_nombre"></span>, we offer amazing prizes to 10 users. Today's prize is a Samsung Galaxy S20! Only 10 lucky users living in Bangladesh will be the winners!</p>
    <p>This survey is conducted to improve the services provided to our users, and your participation will be 100% rewarded!</p>
    <p>Hurry up, the prizes are limited!</p>
    <div class="main-content flag hide1" id="questions_all" data-total="4">
      <div id="q1">
        <p class="question"><strong>Questions 1/4:</strong>&nbsp;<span>Are you male or female?</span></p>
        <div class="survey_button bq bq1" data-question="1" data-bq="1">Male</div>
        <div class="survey_button bq bq1" data-question="1" data-bq="2">Female</div>
      </div>
      <div id="q2">
        <p class="question"><strong>Questions 2/4:</strong>&nbsp;<span>How old are you?</span></p>
        <div class="survey_button bq bq2" data-question="2" data-bq="1">18-29</div>
        <div class="survey_button bq bq2" data-question="2" data-bq="2">30-39</div>
        <div class="survey_button bq bq2" data-question="2" data-bq="3">40-49</div>
        <div class="survey_button bq bq2" data-question="2" data-bq="4">50+</div>
      </div>
      <div id="q3">
        <p class="question"><strong>Questions 3/4:</strong>&nbsp;<span>Do you often shopping on Amazon?</span></p>
        <div class="survey_button bq bq3" data-question="3" data-bq="1">Always</div>
        <div class="survey_button bq bq3" data-question="3" data-bq="2">Sometimes</div>
        <div class="survey_button bq bq3" data-question="3" data-bq="3">No</div>
      </div>
      <div id="q4">
        <p class="question"><strong>Questions 4/4:</strong>&nbsp;<span>How do you rate Amazon services in Bangladesh?</span></p>
        <div class="survey_button bq bq4" data-question="4" data-bq="1">Very satisfied</div>
        <div class="survey_button bq bq4" data-question="4" data-bq="2">Satisfied</div>
        <div class="survey_button bq bq4" data-question="4" data-bq="3">Dissatisfied</div>
      </div>
    </div>
  </div>
  <div class="main-content" id="content2">
    <h2 style="text-align:center">We are verifying your answer...</h2>
    <div class="d-flex justify-content-center">
      <div class="spinner-border m-3" role="status"><span class="sr-only">Loading...</span></div>
    </div>
    <p class="result" id="result1">You have answered 4/4 questions!</p>
    <p class="result" id="result2">Your IP address is valid for this promotion!</p>
    <p class="result" id="result3">Gifts are available and reserved!</p>
  </div>
  <div class="main-content" id="content3">
    <div id="boxes" class="boxes" data-cgeneric="boxes-cgeneric">
      <div class="div_img_gift"><img class="img_gift box-gift" src="/media/mainstream/all/ab/s20.png" ></div>
      <div id="0" class="try temblor">
        <div class="caja_tapa"><img class="box-01" src="/media/mainstream/all/ab/top_red.png"></div>
        <div class="caja_trasera"><img class="box-03" src="/media/mainstream/all/ab/x1.png"> </div>
        <div class="caja_gift showned"><img class="box-04" src="/media/mainstream/all/ab/s20_blue_small.png"> </div>
        <div class="caja"><img class="box-02" src="/media/mainstream/all/ab/box_open.png"> </div>
      </div>
      <div id="1" class="try temblor">
        <div class="caja_tapa"><img class="box-01" src="/media/mainstream/all/ab/top_red.png"></div>
        <div class="caja_trasera"><img class="box-03" src="/media/mainstream/all/ab/x1.png"> </div>
        <div class="caja_gift showned"><img class="box-04" src="/media/mainstream/all/ab/s20_blue_small.png"> </div>
        <div class="caja"><img class="box-02" src="/media/mainstream/all/ab/box_open.png"> </div>
      </div>
      <div id="2" class="try temblor">
        <div class="caja_tapa"><img class="box-01" src="/media/mainstream/all/ab/top_red.png"></div>
        <div class="caja_trasera"><img class="box-03" src="/media/mainstream/all/ab/x1.png"> </div>
        <div class="caja_gift showned"><img class="box-04" src="/media/mainstream/all/ab/s20_blue_small.png"> </div>
        <div class="caja"><img class="box-02" src="/media/mainstream/all/ab/box_open.png"> </div>
      </div>
      <div id="3" class="try temblor">
        <div class="caja_tapa"><img class="box-01" src="/media/mainstream/all/ab/top_red.png"></div>
        <div class="caja_trasera"><img class="box-03" src="/media/mainstream/all/ab/x1.png"> </div>
        <div class="caja_gift showned"><img class="box-04" src="/media/mainstream/all/ab/s20_blue_small.png"> </div>
        <div class="caja"><img class="box-02" src="/media/mainstream/all/ab/box_open.png"> </div>
      </div>
      <div id="4" class="try temblor">
        <div class="caja_tapa"><img class="box-01" src="/media/mainstream/all/ab/top_red.png"></div>
        <div class="caja_trasera"><img class="box-03" src="/media/mainstream/all/ab/x1.png"> </div>
        <div class="caja_gift showned"><img class="box-04" src="/media/mainstream/all/ab/s20_blue_small.png"> </div>
        <div class="caja"><img class="box-02" src="/media/mainstream/all/ab/box_open.png"> </div>
      </div>
      <div id="5" class="try temblor">
        <div class="caja_tapa"><img class="box-01" src="/media/mainstream/all/ab/top_red.png"></div>
        <div class="caja_trasera"><img class="box-03" src="/media/mainstream/all/ab/x1.png"> </div>
        <div class="caja_gift showned"><img class="box-04" src="/media/mainstream/all/ab/s20_blue_small.png"> </div>
        <div class="caja"><img class="box-02" src="/media/mainstream/all/ab/box_open.png"> </div>
      </div>
      <div id="6" class="try temblor">
        <div class="caja_tapa"><img class="box-01" src="/media/mainstream/all/ab/top_red.png"></div>
        <div class="caja_trasera"><img class="box-03" src="/media/mainstream/all/ab/x1.png"> </div>
        <div class="caja_gift showned"><img class="box-04" src="/media/mainstream/all/ab/s20_blue_small.png"> </div>
        <div class="caja"><img class="box-02" src="/media/mainstream/all/ab/box_open.png"> </div>
      </div>
      <div id="7" class="try temblor">
        <div class="caja_tapa"><img class="box-01" src="/media/mainstream/all/ab/top_red.png"></div>
        <div class="caja_trasera"><img class="box-03" src="/media/mainstream/all/ab/x1.png"> </div>
        <div class="caja_gift showned"><img class="box-04" src="/media/mainstream/all/ab/s20_blue_small.png"> </div>
        <div class="caja"><img class="box-02" src="/media/mainstream/all/ab/box_open.png"> </div>
      </div>
      <div id="8" class="try temblor">
        <div class="caja_tapa"><img class="box-01" src="/media/mainstream/all/ab/top_red.png"></div>
        <div class="caja_trasera"><img class="box-03" src="/media/mainstream/all/ab/x1.png"> </div>
        <div class="caja_gift showned"><img class="box-04" src="/media/mainstream/all/ab/s20_blue_small.png"> </div>
        <div class="caja"><img class="box-02" src="/media/mainstream/all/ab/box_open.png"> </div>
      </div>
      <div id="9" class="try temblor">
        <div class="caja_tapa"><img class="box-01" src="/media/mainstream/all/ab/top_red.png"></div>
        <div class="caja_trasera"><img class="box-03" src="/media/mainstream/all/ab/x1.png"> </div>
        <div class="caja_gift showned"><img class="box-04" src="/media/mainstream/all/ab/s20_blue_small.png"> </div>
        <div class="caja"><img class="box-02" src="/media/mainstream/all/ab/box_open.png"> </div>
      </div>
      <div id="10" class="try temblor">
        <div class="caja_tapa"><img class="box-01" src="/media/mainstream/all/ab/top_red.png"></div>
        <div class="caja_trasera"><img class="box-03" src="/media/mainstream/all/ab/x1.png"> </div>
        <div class="caja_gift showned"><img class="box-04" src="/media/mainstream/all/ab/s20_blue_small.png"> </div>
        <div class="caja"><img class="box-02" src="/media/mainstream/all/ab/box_open.png"> </div>
      </div>
      <div id="11" class="try temblor">
        <div class="caja_tapa"><img class="box-01" src="/media/mainstream/all/ab/top_red.png"></div>
        <div class="caja_trasera"><img class="box-03" src="/media/mainstream/all/ab/x1.png"> </div>
        <div class="caja_gift showned"><img class="box-04" src="/media/mainstream/all/ab/s20_blue_small.png"> </div>
        <div class="caja"><img class="box-02" src="/media/mainstream/all/ab/box_open.png"> </div>
      </div>
    </div>
    <div id="p_modal1" class="modal fade text-center p_modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body"><img class="temblor_inf box-00" src="/media/mainstream/all/ab/box_closed.png">
            <h2>Congratulations, your answers have been successfully saved!</h2>
            <p>Today, <span class="p_var-dia">29</span>&nbsp;<span class="p_var-mes_nombre">April</span>, you have a chance to win a Samsung Galaxy S20! <br>
            <p>You must select the correct box with your price inside. </p>
            <p>You have 3 attempts. Good luck!</p>
            <button type="button" id="p_modal_button1" class="btn btn-success btn-lg" style="background-color:#FF8F00; border-color:#FF8F00;">OK </button>
          </div>
        </div>
      </div>
    </div>
    <div id="p_modal2" class="modal fade text-center p_modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="circle-loader">
              <div class="checkmark draw"></div>
            </div>
            <h2>Oh...</h2>
            <p>Sorry, the box you selected is empty. You still have (<span id="num_intentos">3</span>) chances! Good luck!</p>
            <button type="button" id="p_modal_button2" class="btn btn-success btn-lg" style="background-color: #FF8F00; border-color: #FF8F00;">OK </button>
          </div>
        </div>
      </div>
    </div>
    <div id="p_modal3" class="modal fade text-center p_modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body"><img class="box-gift" src="/media/mainstream/all/ab/s20.png">
            <h2>CONGRATULATIONS!</h2>
            <h6>You have won a Samsung Galaxy S20!</h6>
            <p>1. Click on "OK" to visit our sponsors page.</p>
            <p>2. Register your phone number on the next page for your Galaxy S20 delivery.</p>
            <p>3. Your Galaxy S20 will be delivered within 3 to 5 days by the courier service.</p>
            <a href="/web/" target="_blank"><button type="button" class="btn btn-success btn-lg" id="afflink"  style="background-color:#FF8F00; border-color:#FF8F00;">OK</button></a> </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-content" id="content4">
    <div class="comments_face">
      <div class="comments">
        <p style="margin:0;padding:0;float:left;display:block;width:50%"><span style="color:#3b5998; cursor: pointer;">Comments</span> </p>
        <p style="margin:0;padding:0;float:right;display:block;width:50%;color:#a8a7a7;text-align:right"> 7 of 589</p>
        <div style="clear:both"></div>
      </div>
      <div class="comments" id="comment0" style="display:block">
        <div class="profile"><img src="/media/mainstream/all/ab/in1.jpg"></div>
        <div class="comment-content">
          <p class="name">Yogarasa Limbu</p>
          <p>Too bad, I've never won anything:(</p>
        </div>
        <div class="clr"></div>
        <div class="comment-status"><span>I like it · Comment <img src="/media/mainstream/all/ab/like.png" width="15px" height="15px">3</span> · <u>4 minutes ago</u> </div>
      </div>
      <div class="comments" id="comment1" style="display:block">
        <div class="profile"><img src="/media/mainstream/all/ab/in2.jpg"></div>
        <div class="comment-content">
          <p class="name">Chanda Achaval</p>
          <p>I thought it was a joke but I got my Galaxy, I also told my friends how to get one!</p>
        </div>
        <div class="clr"></div>
        <div class="comment-status"><span>I like it · Comment <img src="/media/mainstream/all/ab/like.png" width="15px" height="15px">17</span> · <u>38 minutes ago</u> </div>
      </div>
      <div class="comments" id="comment2" style="display:block">
        <div class="profile"><img src="/media/mainstream/all/ab/in3.jpg"></div>
        <div class="comment-content">
          <p class="name">Neha Punja</p>
          <p>I got a call to let me know I won, I'm so happy!</p>
        </div>
        <div class="clr"></div>
        <div class="comment-status"><span>I like it · Comment <img src="/media/mainstream/all/ab/like.png" width="15px" height="15px">46</span> · <u>1 hours ago</u></div>
      </div>
      <div class="comments" id="comment3" style="display:block">
        <div class="profile"><img src="/media/mainstream/all/ab/in4.jpg"></div>
        <div class="comment-content">
          <p class="name">Sumit Devdhar</p>
          <p>I thought it was a joke, but I got the prize this morning, I would like to do more surveys!</p>
        </div>
        <div class="clr"></div>
        <div class="comment-status"><span>I like it · Comment <img src="/media/mainstream/all/ab/like.png" width="15px" height="15px">10</span> · <u>1 hours ago</u></div>
      </div>
      <div class="comments" id="comment3" style="display:block">
        <div class="profile"><img src="/media/mainstream/all/ab/in5.jpg"></div>
        <div class="comment-content">
          <p class="name">Kareena Chattarak</p>
          <p>Is it possible to get my Galaxy S20 today? Thank you</p>
        </div>
        <div class="clr"></div>
        <div class="comment-status"><span>I like it · Comment <img src="/media/mainstream/all/ab/like.png" width="15px" height="15px">36</span> · <u>2 hours ago</u></div>
      </div>
      <div class="comments" id="comment4" style="display:block">
        <div class="profile"><img src="/media/mainstream/all/ab/in6.jpg"></div>
        <div class="comment-content">
          <p class="name">Prashant Bagchi</p>
          <p>Cool, I had never won anything!</p>
        </div>
        <div class="clr"></div>
        <div class="comment-status"><span>I like it · Comment <img src="/media/mainstream/all/ab/like.png" width="15px" height="15px">31</span> · <u>3 hours ago</u></div>
      </div>
      <div class="comments" id="comment5" style="display:block">
        <div class="profile"><img src="/media/mainstream/all/ab/in7.jpg"></div>
        <div class="comment-content">
          <p class="name">Asha Kumar</p>
          <p>I entered, won and received my  Galaxy S20 in 5 days, thank you!</p>
        </div>
        <div class="clr"></div>
        <div class="comment-status"><span>I like it · Comment <img src="/media/mainstream/all/ab/like.png" width="15px" height="15px">37</span> · <u>6 hours ago</u></div>
      </div>
    </div>
    <style type="text/css">
        .survey_button, .text-primary {
            background-color: #FF8F00};
        }
    </style>
  </div>
</div>

<style>
#footer a{
color:#EFEFEF;}
</style>
<div id="footer" style="background-color:#0D141E; margin-bottom:0px; font-size:12px; text-align:center; color:#EFEFEF;">
  <p style="padding:20px; padding-bottom:0px;font-size: 13px;"><a onClick="return false;" href="#">Terms of sale |</a> <a onClick="return false;" href="#">Conditions of participation in the Marketplace program |</a> <a onClick="return false;" href="#">Your personal information |</a> <a onClick="return false;" href="#">Cookies |</a> <a onClick="return false;" href="#">Ads based on your interests</a></p>
  
</div>
</body>
</html>